div {
  margin: 0;
  padding: 0;
}

.hiddendie {
  display: none;
}

.container {
  max-width: 1000px;
  font-family: "Patua One", cursive;
  margin: auto;
}


/* header */
header img {
  max-width: 100%;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(80, 30, 32, .8);
}

/* scores */
#scoredisplay div {
  display: inline-block;
  margin-left: 2%;
  margin-right: 10%;
}

.yourturn {
  color: #aa3336;
  /*text-shadow: 2px 2px #000;*/
}

/* middle areas */
#middlestuff{
  min-height: 500px;
  position: relative;
  height: 500px;
  overflow: hidden;
}



/* video */
#videocontainer, #rightside {
  display: inline-block;
}

#videocontainer {
  background-color: #090909;
  width: 60%;
  border-radius: 90px;
}

#videocontainer video {
  position:relative;
  top:-100px;
  max-width: 100%;
  max-height: 750px;
  cursor: pointer;
  background-color: #090909;

}



#rightside {
  width: 40%;
  float: right;
}



#roll, #hold {
  display: inline-block;
  width: 40%;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  #roll, #hold {
    display: block;
    margin:auto;
    }

}

#gamecontrol {
  text-align: center;
}

.thrown {
  width: 30.33%;
  margin: 2px 1.5%;
  border-radius: 7px;
  box-shadow: 2px 2px 6px rgba(0,0,0,.9)
}

/* footer */
footer {
  display: block;
  width: 100;
  clear: both;
  padding-top: 10px;
}

#footerlogo {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0,0,0,.4);
}

footer div {
  display: inline-block;
}

footer div h1 {
  display: inline-block;
}

footer div:nth-child(2) {
  margin-left: 20%;
  font-size: 2em;
}

.sparkle {
  position: absolute;;
  left: 3vw;
  top: 10vw;
  width: 10px;
  height: 10px;
  background: gold;
  display: none;
}

.sparkle-container {
  margin: auto;
  width: 100vw;
  height: 100vh;
  position: relative;
}
